<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mysnakeapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 适配2.2以上版本 -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.snake.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.snake.activity.HelpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snake.activity.HeroActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snake.activity.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service
            android:name="com.snake.service.MusicService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.snake.service.MusicService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>